%h1.main__title User Dashboard

- flash.each do |_name, msg|
  = content_tag :div, class: 'main__notice' do
    = image_tag 'close_mark.svg', class: 'main__close-mark'
    = msg

%section.user
  .user__profile-box
    = image_tag @user.image, class: 'user__image'
    %h1.user__profile-headline
      #{@user.name}さんの学習記録

  .user__heatmap-box

  %section.user__recently-played
    %h1.user__recently-played-headline
      = t('views.users.show.recently_played')
    - @recently_histories.each do |history|
      .user__recently-played-course-name
        - course = history.challenge.course
        = link_to course.name, course_path(course), class: 'user__recently-played-course-link'

  %section.user__manageable-course
    %h1.user__manageable-course-headline
      = t('views.users.show.manageable_courses')
    - @manageable_courses.each do |course|
      .user__manageable-course-name
        = link_to course.name, course_path(course), class: 'user__manageable-course-link'
