- content_for :header_item_nav do
  = render partial: 'shared/header_management_item', locals: { course: @course }

%h1.main__title Management Course

- flash.each do |_name, msg|
  = content_tag :div, class: "main__notice" do
    = image_tag 'close_mark.svg', class: 'main__close-mark'
    = msg

.course-management
  = render partial: 'shared/management_nav', locals: { course: @course, current_item: :dashboard }

  .course-management__flex-group
    %section.course-management__challenge-list
      %h1.course-management__challenge-list-title
        Challenge List

      - @course.challenges.each do |challenge|
        %article.course-management__challenge-item{ data: { course_id: @course.id, challenge_id: challenge.sequence_number } }
          .course-management__challenge-number= challenge.sequence_number
          %p.course-management__challenge-ja-text= truncate(challenge.ja_text, length: 75)
          .course-management__link-group
            = link_to 'Edit', edit_course_challenge_path(challenge, course_id: @course), class: 'course-management__challenge-edit-link'
            %a.course-management__challenge-delete-link
              Delete

    %aside.course-management__course-item
      %h1.course-management__course-name= @course.name
      %section.course-management__heatmap
        %h2.course-management__heatmap-headline
          過去3ヶ月の挑戦者記録
        .course-management__heatmap-container
