%h1.main__title New Challenge

.challenge-new
  = form_for @challenge, url: course_challenges_path do |f|
    .challenge-new__form-group
      = f.label :en_text, class: 'challenge-new__en-text-label'
      = f.text_area :en_text, class: 'challenge-new__en-text-form'

    .challenge-new__form-group
      = f.label :ja_text, class: 'challenge-new__ja-text-label'
      = f.text_area :ja_text, class: 'challenge-new__ja-text-form'

    = f.submit 'Create Challenge', class: 'challenge-new__create-challenge-button btn'
