!!!
%html
  %head
    %meta{ charset: 'UTF-8' }
    %title
      Scrambled Eng
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta{ name: 'viewport', content: 'width=device-width' }

  %body
    %header.header
      .header__cell
        .header__logo-box
          .header__item
            = link_to root_path, class: 'brand-link' do
              ScrambledEng
        .header__nav-box
          %nav.header__item
            %ul.header__nav-list
              %li.header__nav-list-item
                = link_to 'Courses', root_path, class: 'courses_link'
              %li.header__nav-list-item
                = link_to 'Create course', new_course_path, class: 'new_course_link'
              = yield :header_item_nav

    %main.main
      = yield

    %footer.footer
