!!!
%html
  %head
    %title
      ScrambledEng
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    %header.header
      .cell
        .header-item-brand
          = link_to root_path, class: 'brand-link' do
            ScrambledEng
        .header-item-nav
          = link_to 'Courses', root_path, class: 'courses_link'
          = link_to 'Create course', new_course_path, class: 'new_course_link'
          = yield :header_item_nav

    %main
      = yield

    %footer.footer
