!!!
%html
  %head
    %meta{ charset: 'UTF-8' }
    %title
      Scrambled Eng
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta{ name: 'viewport', content: 'width=device-width' }

  %body
    %header.header
      .header__cell
        .header__logo-box
          .header__item
            %h1.header__title-area
              = link_to root_path, class: 'header__site-name' do
                = image_tag 'scrambled_logo.svg', class: 'header__site-logo'
                Scrambled Eng

        .header__nav-box
          %nav.header__item
            = link_to '#', class: 'header__menu-link' do
              Menu
            %ul.header__nav-list
              %li.header__nav-list-item
                = link_to 'Courses', courses_path, class: 'header__courses-link'
              - if user_sign_in?
                %li.header__nav-list-item
                  = link_to 'Create course', new_course_path, class: 'header__new-course-link'
                = yield :header_item_nav
                %li.header__nav-list-item
                  = link_to '', class: 'header__dropdown-menu-link' do
                    = image_tag current_user.image, class: 'header__user-image'
              - else
                %li.header__nav-list-item
                  = link_to 'Sign in with Google', '/auth/google_oauth2', class: 'header__sign-in-link'
            %ul.header__dropdown-menu.is-hidden
              %li.header__dropdown-item
                My Profile
              %li.header__dropdown-item
                = link_to 'Sign Out', session_path, method: :delete, class: 'header__sign-out-link'
    .clearfix

    %main.main
      = yield

    %footer.footer
      = yield :footer
